.check {
  top: 4px;
  position: relative;
  margin-right: 8px;
  // padding-top: 2px;
  border-radius: 4px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: 1px solid #AAB7D4;
  background: #F8FAFB;
  width: 16px;
  height: 16px;
}
